<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.idle_maintenance</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/john/Dropbox/Mackup/scripts/idle-maintenance/idle_watcher.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/com.user.idle_maintenance.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.user.idle_maintenance.out</string>
</dict>
</plist>
